body {
    background-color: #2F4F4F;
    padding: 0;
}

#js-timer {
    text-align: center;
}

#timer{
    font-size: 40px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-input {
    width: 350px;
    padding: 15px;
    font-size: 18px;
    border: 2px solid #000000;
    border-radius: 8px;
    color: #101820;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-input-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.header {
    padding: 20px;
    text-align: center;
    background: #101820;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

.button-timer-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.button {
    background-color: #FEE715;
    border: 2px solid #000000;
    color: #101820;
    padding: 15px 0;
    font-weight: bold;
    width: 200px;
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 0;
    text-transform: uppercase;
}

.button2 {
    background-color: #FEE715;
    border: 2px solid #000000;
    color: #101820;
    padding: 15px 0;
    font-weight: bold;
    width: 200px;
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 0;
    text-transform: uppercase;
}

.button:hover {
    background-color: #FFD700;
    transform: scale(1.05);
}

.button2:hover {
    background-color: #FFD700;
    transform: scale(1.05);
}

.userName {
    width: 350px;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.textH1 {
    width: 350px;
    padding: 15px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button3 {
    background-color: #FEE715;
    border: 2px solid #000000;
    color: #101820;
    padding: 15px 0;
    width: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 0;
    text-transform: uppercase;
}