body {
    background-color: #2F4F4F;
    padding: 0;
}

#js-timer {
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center;  /* Center the buttons horizontally */
}

#timer {
    font-size: 40px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
}

.header {
    padding: 20px;
    text-align: center;
    background: #101820;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

.button-timer-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.button {
    background-color: #FEE715;
    border: 2px solid #000000;
    color: #101820;
    padding: 10px 0;
    font-weight: bold;
    width: 200px;
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 0;
    text-transform: uppercase;
}

.button:hover {
    background-color: #FFD700;
    transform: scale(1.05);
}

.username-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.userName {
    width: 150px;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.username-input {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    border-radius: 7px;
    width: 150px;  /* Adjusted width */
    margin-right: 10px;  /* Space between input and submit button */
}

.typing-container {
    text-align: center;
    margin-top: 30px;
}

.typing-box {
    width: 70%;  /* Adjusted width of the textbox */
    padding: 15px;
    font-size: 18px;
    border: 2px solid #000000;
    border-radius: 8px;
    color: #101820;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
